
.home__boxes {

 
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home__main {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 40px;
  }
  

  .home__box {
    width: calc(30% - 20px);
    box-sizing: border-box;
    
    object-fit: contain;
    margin-top: 50px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #0c51e4;
    text-decoration: none;
    width: auto;
    height: 374px;
  }
  .home__boxes{
    margin-left: 120px;
    margin-right: 120px;
  }
  

  .home__box:nth-child(3n+1) {
    clear: none;
  }
  

  .home__box:hover {
    transform: translateY(-8px);
  }
  

  @media screen and (max-width: 768px) {
    .home__box {
      width: calc(50% - 20px);
    }
  }

  .btnn {
    text-align: center;
    margin-top: 20px;
  }
  
  .btnn button {
    background-color: #173367;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btnn button:hover {
    background-color: #0d2354;
  }
  @media (max-width: 600px) {
    .home__box {
     
      width: 350px; 
      margin-bottom: 10px; 
    }
  }
  
  