.nav__icon{
    height: 90px;
}
.nav__main{
    height: 85px;
    background-color:rgb(218, 164, 72);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    /* margin-bottom: 70px; */
}
.inp{
    outline: none;
   width: 60vw;
   height: 30px;
   
    padding-left: 1rem;
    padding-right: 0.75rem;
}
.abb{
    text-decoration: none;
    font-weight: bold;
    color:white;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}
.abb:hover {
    color: rgb(50, 126, 218); 
    transform: scale(1.1); 
  }

.fbb{
    text-decoration: none;
    font-weight: bold;
    color:white;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 5px;
}
.bask{
  margin-top: 45px;
}
.fbb:hover {
    color: rgb(50, 126, 218); 
    transform: scale(1.1); 
  }

  .hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 85px; 
    right: 0;
    background-color: rgb(218, 164, 72);
    padding: 10px;
    top: 0;
    z-index: 100;
  }

  .mobile-link {
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }

  .mobile-link:hover {
    color: rgb(50, 126, 218);
    transform: scale(1.1);
  }
}

/* Added margin between links on larger screens */
@media (min-width: 769px) {
  .nav-links {
    display: flex;
    gap: 20px; /* Adjust the margin between links */
  }
}
